body {
    background-color: #000000;
    background-image: url('../image/bg-code.png');
    color: #fff;
    font-family: "Sanchez", sans-serif;
    line-height: 1.5;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header {
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: flex-end;
    font-family: "Krona One", sans-serif;
    font-size: 24px;
}

.header-menu {
    display: flex;
    padding-top: 20px;
    align-items: center;
    margin-right: 70px;
}

.header-menu a {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 45px;
    transition: transform 0.3s ease;
}

.header .sobre-mim {
    color: #22d4fd;
    font-size: 26px;
}

.header-menu a::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #fff;
    transition: background-color 0.3s ease;
}

.header-link:hover {
    transform: scale(1.07);
    color: #123f77;
}

.header-menu a:hover::before {
    background-color: #123f77;
}

.header-link:active {
    transform: scale(0.99);
    color: #123f77;
}

.text-blue {
    color: #22d4fd;
    font-weight: 500;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 145px;
    padding-bottom: 78px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.title {
    font-family: "Krona One", sans-serif;
    font-size: 30px;
    margin-bottom: 40px;
}

.title:hover {
    transform: scale(1.02);
    transition: transform 0.5s ease-in;
}

.subtitle {
    font-family: "Sanchez", sans-serif;
    font-size: 18px;
    text-align: justify;
}

.first-paragraph:hover {
    transform: scale(1.02);
    transition: transform 0.5s ease-in;
}

.second-paragraph:hover {
    transform: scale(1.02);
    transition: transform 0.5s ease-in-out;
}

.third-paragraph:hover {
    transform: scale(1.02);
    transition: transform 0.5s ease-out;
}

.about-me {
    max-width: 1200px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.footer {
    display: flex;
    position: static;
    align-items: center;
    justify-content: center;
    margin-top: 121px;
    height: 60px;
    background-color: #0d1117;
    color: #ffffff;
    font-family: "Sanchez", sans-serif;
    font-size: 18px;
}

@media (max-width: 1600px) {
    .header {
        font-size: 22px;
    }

    .container {
    padding-top: 170px;
}

    .title {
        font-size: 22px;
    }

    .subtitle {
        font-size: 18px;
    }
    
}

@media (max-width: 1218px) {
    .header {
        display: flex;
        justify-content: center;
    }

    .header-menu {
        margin-right: 50px;
        gap: 15px;
    }

        .container {
    padding-top: 187px;
}   

    .about-me {
        max-width: 700px;
    }
}

@media (max-width: 720px) {
    .header .sobre-mim {
        display: none;
    }

    .header {
        font-size: 14px;
        display: flex;
        justify-content: center;
    }

    .header-menu {
        margin-right: 50px;
        gap: 15px;
        padding-top: 10px;
    }

    .header-menu a::before {
        width: 8px;
        height: 8px;
    }

    .about-me {
        max-width: 350px;
    }

    .container {
        padding-top: 100px;
        flex-wrap: wrap;
    }

    .title {
        font-size: 20px;
    }

    .subtitle {
        font-size: 16px;
    }
}

@media (max-width: 400px) {
    .about-me {
        max-width: 300px;
    }
}