*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset,
legend {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

fieldset, img {
    border: 0;
}

body {
    line-height: 1.5;
    font-family: inherit;
    background: none;
    color: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

blockquote, q {
    quotes: none;
}
blockquote::before, blockquote::after,
q::before, q::after {
    content: '';
    content: none;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}